spring:
  application:
    name: Spring Data Analysis API

  h2:
    console:
      enabled: true
      path: /h2-console

  datasource:
    url: jdbc:h2:mem:analysis-db
    driver-class-name: org.h2.Driver
    username: sa
    password:

server:
  address: 0.0.0.0
  port: 8080
