name: CI/CD

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Build JAR
        run: ./gradlew clean bootJar

      - name: Copy JAR to VM (DIRECTORY ONLY)
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.VM_HOST }}
          username: ${{ secrets.VM_USER }}
          key: ${{ secrets.VM_SSH_KEY }}
          source: build/libs/spring-data-analysis-api.jar
          target: /home/abdur_sujon_dev/deploy/

      - name: Restart backend on VM
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VM_HOST }}
          username: ${{ secrets.VM_USER }}
          key: ${{ secrets.VM_SSH_KEY }}
          script: |
            set -e
            pkill -f app.jar || true
            mv /home/abdur_sujon_dev/deploy/spring-data-analysis-api.jar /home/abdur_sujon_dev/app.jar
            nohup java -jar /home/abdur_sujon_dev/app.jar > app.log 2>&1 &
